.footer-bg {
  background-color: var(--cor-1);
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteudo-footer, .conteudo-footer h1 span{
  color: #ffffff;
}

.conteudo-footer h1 {
  margin-bottom: 24px;
}

.conteudo-footer p:nth-child(2)  {
  margin-bottom: 15px;
}

.redes-footer {
  display: flex;
  gap: 34px;
}

@media (max-width: 780px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .redes-footer {
    margin-top: 34px;
    display: flex;
    gap: 34px;
  }
}